@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


$prim : #05386B;
$sec : #5CDB95;
$prim-lit : #2779a7;
$sec-lit : #49c5b6;
$primColor : blue;

@mixin poppins($wid){
    font-family: 'Poppins';
    font-weight: $wid;
}

@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

@mixin flex($dir){
    display: flex;
    flex-direction: $dir;
}
